@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #ff6c19;
  --white-color-1: #fefefe;
  --gray-color-1: #9f9f9f;
}
body {
  @apply bg-gray-100;
}
@layer components {
  .btn {
    @apply bg-[#4e4e4e] text-white px-3 py-2 rounded-md text-sm;
  }
}
